@model IEnumerable<Library.ViewModelLayer.ViewModels.BookViewModel>

<div id="example">
    <div id="grid"></div>
</div>

@if (User.IsInRole("admin"))
{
    <script src="~/Scripts/myScripts/kendo-book-grid.js"></script>
}
@if (User.IsInRole("user"))
{
    <script src="~/Scripts/myScripts/user-kendo-book-grid.js"></script>
}