@model IEnumerable<Library.ViewModelLayer.ViewModels.AuthorViewModel>

<div id="example">
    <div id="grid"></div>
</div>

@if (User.IsInRole("admin"))
{
    <script src="~/Scripts/myScripts/kendo-author-grid.js"></script>
}
else
{
    <script src="~/Scripts/myScripts/user-kendo-author-grid.js"></script>
}